.open-modal {
  height: 30px;
  width: 110px;
  background-color: #65e3b8;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 3px;
  font-family: "montserrat", sans-serif;
  font-size: 15px;
}

.modal-title {
  font-family: "montserrat", sans-serif;
  text-align: center;
}

.modal-input {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 10px;
}

.modal-input > label {
  font-family: "montserrat", sans-serif;
  color: #854df3;
  margin-top: 20px;
}

.modal-input > input {
  border: none;
  border-bottom: 1px solid rgba(133, 77, 243, 0.75);
  height: 25px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.modal-button {
  height: 50px;
  width: 130px;
  font-family: "montserrat", sans-serif;
  font-size: 15px;
  background-color: #65e3b8;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
